<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
	  throwExceptions="false"
      >

	<!-- enable asp.net core layout renderers
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions> -->
	<variable name ="LogDirectory" value="${gdc:LogDirectory}"></variable>
	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file  -->
		<target name="logfile" xsi:type="File" fileName="${LogDirectory}/${shortdate}.log"
				layout="${longdate}|${uppercase:${level}}${message}" />
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Trace" writeTo="logfile" />
	</rules>s
</nlog>